.znect__whmap__dialog-content {
    display: flex;
    flex-direction: column;
}

.znect__whmapping-dialog__control {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.znect__whmapping-dialog__control button{
    background: none;
    border: none;
    cursor: pointer;
}