.znect__settings-container {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #fff;
    font-family: var(--font-family);
}

.znect__settings-container h2{
    font-weight: 400;
    margin-bottom: 14px;
}
