.znect__pkgdialog-container__dim {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.znect__pkgdialog-container__dim p {
    font-family: var(--font-family);
    font-size: 12px;
    margin-bottom: 8px;
}

.znect__pkgdialog-container__switch {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}