.znect__userdialog-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.znect__userdialog-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}