.znect__mapping-dialog__control {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.dotted-line {
    border-top: 2px dotted #000;
    width: 60px; 
    height: 0;
}

.znect__dialog-content {
    display: flex;
    flex-direction: column;
}

.znect__mapping-dialog__control button {
    border: none;
    background: none;
    cursor: pointer;
}
