.znect__product-container {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #f3f4f9;
    overflow: scroll;
}

.znect__product-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.znect__product-title h2 {
    font-family: var(--font-family);
    font-weight: 400;
}

.znect__product-title button {
    height: 40px;
    background: #FC5C7D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D);
    border: none;
    padding: 10px 5px 10px 5px;
    width: 12%;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.znect__product-mainbox {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.znect__product-box {
    margin-top: 20px;
    background-color: #fff;
    width: 100%;
    flex: 1 1 90%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    overflow: scroll;
}

.znect__product-box__tools {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.znect__product-box__tools input {
    border: none;
    height: 30px;
    width: 70%;
    border-radius: 10px;
    outline: none;
}

.znect__product-box__search {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
    height: 35px;
    border: 1px solid #909090;
    width: 30%;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.znect__product-box__table {
    margin-top: 10px;
    height: 90%;
    overflow: scroll;
}

.znect__product-container__page-controller {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1 1 10%;
    justify-content: flex-end;
    margin-top: 10px;
    align-items: center;
}

.znect__product-container__page-controller p {
    color: #909090;
    font-family: var(--font-family);
    margin-right: 10px;
}
.znect__product-container__page-controller button {
    display: flex;
    border: none;
    background: transparent;
    margin-right: 10px;
    align-items: center;
    cursor: pointer;
}

.znect__product-box__tools-btn {
  display: flex;
  align-items: center;
  gap: 12px; /* Adjust the gap as needed */
}

.znect__product-box__tools-btn .add-product {
  margin-right: auto; /* Pushes the Export button to the right */
}
