.znect__profile-container {
    padding: 20px;
    width: 100%;
    height: 100%;
}

.znect__profile-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.znect__profile-info__title {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
}

.znect__profile-info__title h4 {
    font-weight: 600;
}

.znect__profile-info__title p {
    font-size: 14px;
}

.znect__profile-input__container {
    margin-top: 34px;
    display: flex;
    flex-direction: row;
}

.znect__profile-input__container-block {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.znect__profile-input {
    margin-bottom: 16px;
}

.znect__profile-input p{
    color: #909090;
    margin-bottom: 8px;
}

.znect__profile-input__container-block button {
    width: 100px;
    background: #3572EF;
}

.znect__profile-value {
    width: 400px;
    border: 1px solid #909090;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    height: 40px;
    border-radius: 5px;
}