.znect__product-drawer__container {
    width: 600px;
    padding: 20px;
    height: 100%;
    font-family: var(--font-family);
    overflow: scroll;
}

.znect__product-drawer__container h2,h4 {
    font-weight: 400;
    margin-bottom: 5px;
}

.znect__product-drawer__container h5 {
    font-weight: 400;
    margin-top: 20px;
    font-size: 18px;
    color: #1679AB;
    margin-bottom: 20px;
}

.znect__product-drawer__desc-container {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.znect__product-drawer__desc-container__content {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
}

.znect__product-drawer__items-one {
    width: 40%;
    color: #9A9A9A;
    font-size: 14px;
}

.znect__product-drawer__items-two {
    width: 60%;
    font-size: 14px;
}

.znect__product-drawer__control {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.znect__product-drawer__control button {
    padding: 5px 10px;
    border: none;
    background-color: white;
    cursor: pointer;
}