.znect__invdrawer-container {
    padding: 20px;
    width: 900px;
}

.znect__invdrawer-container h2,h3 {
    font-family: var(--font-family);
    font-weight: 500;
    margin-bottom: 20px;
}

.znect__invdrawer-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.znect__invdrawer__formbtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.znect__invdrawer-addbtn {
    margin-top: 20px;
}