.znect__loginnav-container {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    height: 40px;
    padding: 20px;
}

.znect__loginnav-container p {
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 500;
}
