.znect__dashboard-container {
    display: flex;
    flex-direction: row;
}

.znect__dashboard-content {
    width: 100%;
    height: 100vh;
}

.znect__dashboard-content__main {
    height: 100%;
    width: 100%;
    padding-top: 64px;
}