.znect__order-container {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #f3f4f9;
    overflow: auto;
}

.znect__order-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.znect__order-title h2 {
    font-family: var(--font-family);
    font-weight: 400;
}

.znect__order-title button {
    height: 40px;
    background: #FC5C7D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D);
    border: none;
    padding: 10px 5px 10px 5px;
    width: 10%;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.znect__order-mainbox {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.znect__order-box {
    margin-top: 20px;
    background-color: #fff;
    width: 100%;
    flex: 1 1 90%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    overflow: auto;
}

.znect__order-box__tools {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.znect__order-box__tools input {
    border: none;
    height: 30px;
    width: 50%;
    border-radius: 10px;
    outline: none;
}

.znect__order-box__search {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    max-width: 300px;
    width: 100%;
    height: 35px;
    border: 1px solid #909090;
    width: 30%;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.znect__order-box__search button {
    background: none; /* Remove default button styles */
    border: none;
    cursor: pointer;
    margin-left: 100px; /* Adjust left margin to position left */
    margin-bottom: 10px; 
}
.znect__order-box__search input {
    margin-top: 2px;
    margin-bottom: -7px;
    padding-left: 10px; /* Adjust padding as needed */
}
.znect__order-box__search button svg { /* Adjust for the SVG element directly */
    margin-bottom: -9px;
    margin-left: 2px; /* Adjust this value to move it down */
}

.znect__order-box__tools-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: 50%;
    overflow: hidden;
}

.export {
    height: 35px;
    background: #FC5C7D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D);
    border: none;
    color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
}

.znect__order-box__table {
    margin-top: 10px;
    height: 90%;
    overflow: auto;
}

.znect__order-container__page-controller {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1 1 10%;
    justify-content: flex-end;
    margin-top: 10px;
    align-items: center;
}

.znect__order-container__page-controller p {
    color: #909090;
    font-family: var(--font-family);
    margin-right: 10px;
}
.znect__order-container__page-controller button {
    display: flex;
    border: none;
    background: transparent;
    margin-right: 10px;
    align-items: center;
    cursor: pointer;
}