.znect__tracking-pkg {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 0.5px solid #909090;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.znect__tracking-pkg__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    background: #f3f4fa;
    border-radius: 10px 10px 0 0 ;
    border-bottom: 0.5px solid #909090;
    font-family: var(--font-family);
}

.znect__tracking-pkg__content {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.znect__tracking-pkg__content-box {
    flex-grow: 1;
    padding: 20px;
    font-family: var(--font-family);
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.znect__tracking-pkg__content-box p {
    font-size: 15px;
}
