.znect__znectoperations-container {
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    width: 100%;
    border: 0.5px solid #909090;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.znect__znectoperations-body {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.znect__znectoperations-info {
    display: flex;
    flex-direction: column;
    margin-right: 14px;
}

.znect__znectoperations-info p {
    font-size: 12px;
}