.znect__login-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.znect__login-container__left {
    flex: 0 0 30%;
}

.znect__login-container__right{
    flex: 0 0 70%;
    background-image: url('../../assets/login/login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.znect__login-container__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.znect__login-container__content-form {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    justify-content: flex-start;
}

