table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    font-family: var(--font-family);
    font-weight: 500;
}
  
  /* Style the table cells */
  td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-family: var(--font-family);
    font-weight: 300;
    white-space: normal;  /* Allow text to wrap */
    word-wrap: break-word; /* Break long words if necessary */
    word-break: break-word; /* Ensure long words break */
    max-width: 200px;
}

.error-description-cell {
  max-width: 300px;  /* Adjust based on your table layout */
  overflow-wrap: break-word;
}

td button {
    border: none;
    background: transparent;
    width: 50%;
}
  
  /* Style alternating rows */
tr:nth-child(even) {
    background-color: #f9f9f9;
}
  
  /* Hover effect on rows */
tr:hover {
    background-color: #f2f2f2;
}

.priority-high {
    background-color: rgba(255, 0, 0, 0.2) !important; /* Light Red */
}

.priority-medium {
    background-color: rgba(255, 255, 0, 0.3) !important; /* Light Yellow */
}