* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.gradient_text {
  background: var(--gradient-text);
  background-clip: text; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient_bg {
  background: #FC5C7D;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6A82FB, #FC5C7D);
  color: white;
}

.green_chip {
  border: 1px solid white;
  background: #8dbd40;
  padding: 2px 10px 2px 10px;
  display: inline-block;
  color: white;
  font-family: var(--font-family);
  font-size: 14px;
  border-radius: 10px;
}

.znect__default {
  width: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}