.znect__orderdetail-container {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #f3f4f9;
    overflow: scroll;
}
.znect__orderdetail-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.znect__orderdetail-control button {
    width: 35px;
    height: 30px;
    border: 1px solid #dddddd;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 18px;
    border-radius: 7px;
}

.znect__orderdetail-control__text {
    display: flex;
    flex-direction: column;
}

.znect__orderdetail-control__text p {
    font-family: var(--font-family);
    font-size: 10px;
    color: #1679AB;
}

.znect__orderdetail-control__text h4 {
    font-family: var(--font-family);
    font-size: 14px;
}

.znect__orderdetail-header {
    width: 100%;
    background: #fff;
    border: 1px solid #dddddd;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
}

.znect__orderdetail-header__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.znect__orderdetail-header__main-text h4 {
    font-family: var(--font-family);
}

.znect__orderdetail-header__main-control {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.znect__orderdetail-header__main-control button {
    margin: 5px;
    padding: 2px 20px 2px 20px;
    border-radius: 10px;
    border: none;
    font-family: var(--font-family);
}

.znect__orderdetail-header__info {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.znect__orderdetail-header__chips {
    background: #EEEEEE;
    font-family: var(--font-family);
    padding: 2px 10px 2px 10px;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    color: #9A9A9A;
    font-size: 12px;
}

.znect__orderdetail__custaddress-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    margin-top: 20px;
}

.znect__custaddress-blocks {
    min-height: 150px;
    flex-grow: 1;
    max-width: 400px;
    background: white;
    border: 1px solid #dddddd;
    border-radius: 10px;
    padding: 10px;
}

.znect__custaddress-blocks h3 {
    font-family: var(--font-family);
    font-weight: 400;
}

.znect__custaddress-blocks__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none; 
    margin-top: 5px;
}

.znect__custaddress-blocks__content::-webkit-scrollbar {
    display: none; 
}

.znect__custaddress-blocks__content p {
    font-family: var(--font-family);
    color: #909090;
    font-size: 14px;
}

.znect__custaddress-blocks__content h4 {
    font-family: var(--font-family);
    font-weight: 400;
    color: #494848;
    margin-right: 20px;
    font-size: 14px;
}

.znect__orderdetail__item-container {
    width: 100%;
    margin-top: 20px;
    background: #fff;
    border: 1px solid #dddddd;
    border-radius: 10px;
    padding: 20px;
}

.znect__orderdetail__item-container h4 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
}

.znect__orderdetail__package-container {
    width: 100%;
    margin-top: 20px;
    background: #fff;
    border: 1px solid #dddddd;
    border-radius: 10px;
    padding: 20px;
}

.znect__orderdetail__package-container h4 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
}

.znect__orderdetail__package-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.znect__orderdetail__package-header button {
    border: 1px solid #dddddd;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    padding: 2px 15px 2px 15px;
}

.znect__orderdetail__package-header__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    border: 0.5px solid #909090;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.znect__orderdetail__package-header__content__action {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    background: #f3f4fa;
    border-radius: 10px 10px 0 0 ;
    border-bottom: 0.5px solid #909090;
    justify-content: space-between;
}

.znect__orderdetail__package-header__content__action h5 {
    font-family: var(--font-family);
    font-weight: 400;
    margin-right: 20px;
}

.znect__orderdetail__package-header__content__action button {
    padding: 5px 10px;
    margin-right: 20px;
    border-radius: 10px;
    border: 0.5px solid #909090;
}

.znect__orderdetail__package-header__content__carrier {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    border-bottom: 0.5px solid #909090;
}

.znect__orderdetail__package-header__content__carrier-detail {
    flex-grow: 1;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
}

.znect__orderdetail__package-header__content__tracking-detail {
    flex-grow: 2;
    font-family: var(--font-family);
    font-size: 14px;
}

.znect__orderdetail__package-header__content__pkg {
    padding: 20px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: var(--font-family);
}

.znect__orderdetail__package-header__content__pkg h5 {
    font-size: 16px;
    font-weight: 300;
}

.znect__orderdetail-header__status-history {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: var(--font-family);
}

.znect__orderdetail-header__status-history__el {
    display: flex;
    flex-direction: column;
}

.znect__orderdetail-header__status-history__el p{
    font-size: 12px;
    margin-right: 10px;
    color: #909090;
}

.dotted-line {
    border-top: 2px dotted #000;
    width: 40px; 
    height: 0;
    margin-right: 10px;
}

.znect__orderdetail__history-container {
    width: 100%;
    background: #fff;
    border: 1px solid #dddddd;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
}

.znect__orderdetail__history-container h3 {
    font-family: var(--font-family);
    font-weight: 400;
}
