.znect__fileupload-container {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
}

.znect__fileupload-container input {
    margin-top: 5px;
}

.znect__fileupload-container p {
    margin-top: 12px;
    font-size: 12px;
}