  
  /* Style the table cells */
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-family: var(--font-family);
    font-weight: 300;
}

td button {
    border: none;
    background: transparent;
    width: 50%;
}
  
  /* Style alternating rows */
tr:nth-child(even) {
    background-color: #f9f9f9;
}
  
  /* Hover effect on rows */
tr:hover {
    background-color: #f2f2f2;
}

input {
  height: 35px;
  width: 100%;
  padding: 8px 10px;
  border-radius: 10px;
  border: 0.5px solid #D3D3D3;
}